@mixin crossBrowser($property, $val){
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@mixin transition($x){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin border($color) {
    border-top: 0.25rem solid $color;
  }

//640px, 1024px, 1440px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "90em");

//639px, 1023px, 1439px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "89.9375em");

@mixin breakpoint-up($size){ //bigger viewports
    @media(min-width: map-get($breakpoints-up , $size)){
        @content;
    }
}

@mixin breakpoint-down($size){ //smaller viewports
    @media(max-width: map-get($breakpoints-down , $size)){
        @content;
    }
}